<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartpark.dal.mapper.AlarmRecordMapper">

    <resultMap id="BaseResultMap" type="com.smartpark.model.entity.AlarmRecord">
        <id column="id" property="id"/>
        <result column="alarm_code" property="alarmCode"/>
        <result column="device_id" property="deviceId"/>
        <result column="building_id" property="buildingId"/>
        <result column="alarm_type" property="alarmType"/>
        <result column="alarm_level" property="alarmLevel"/>
        <result column="alarm_content" property="alarmContent"/>
        <result column="alarm_time" property="alarmTime"/>
        <result column="alarm_status" property="alarmStatus"/>
        <result column="handle_time" property="handleTime"/>
        <result column="handle_by" property="handleBy"/>
        <result column="handle_result" property="handleResult"/>
        <result column="remark" property="remark"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, alarm_code, device_id, building_id, alarm_type, alarm_level, alarm_content,
        alarm_time, alarm_status, handle_time, handle_by, handle_result, remark,
        create_by, create_time, update_by, update_time, delete_flag
    </sql>

</mapper>
